# =============
# Database
# =============
LOGIN=postgres
PASSWORD=your_password
HOST=localhost
DB_NAME=tasks_system_db
PORT=5432
DMS=postgresql+psycopg2
DB_URL=${DMS}://${LOGIN}:${PASSWORD}@${HOST}:${PORT}/${DB_NAME}